.ReactMarkDown p em {
    opacity: 0.8;
}

.ReactMarkDown img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    transition: transform ease 0.3s;
}

.ReactMarkDown img:hover {
    transform: scale(1.1);
}

.ReactMarkDown code {
    border: 1px solid #868B8E;
    border-radius: 5px;
    background-color: #868B8E;
    padding: 1vh;
}